// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.fa-bitcoin {
  margin-left: 65%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}